{% extends "layout.html" %}
{% block title %}Portfolio{% endblock %}
{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                <td>{{ row.symbol }}</td>
                <td>{{ row.shares }}</td>
                <td>{{ row.price | usd }}</td>
                <td>{{ row.value | usd }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="mt-4">
        <h5 class="portfolio-stat">Cash: {{ cash | usd }}</h5>
        <h4 class="portfolio-stat">Total: {{ grand_total | usd }}</h4>
    </div>
{% endblock %}
